.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px dashed;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: orange;
  }
  
  * { box-sizing: border-box; }
  
  .menu { width: 25%;
    float: left;}
  
  .main {width: 75%;
    float: left;}
  
  .col-1 {width: 8%}
  
  .col-2 {width: 17%}
  
  .col-3 {width: 25%}
  
  .col-4 {width: 33%}
  
  .col-5 {width: 42%}
  
  .col-6 {width: 50%}
  
  .col-7 {width: 58%}
  
  .col-8 {width: 57%}
  
  .col-9 {width: 75%}
  
  .col-10 {width: 83%}
  
  .col-11 {width: 92%}
  
  .col-12 {width: 100%}

  
  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  @keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  